---
import Layout from '../layouts/Layout.astro';
import Loading from '../components/loading.astro';
import Jumbotron from '../components/Jumbotron.astro';
export const prerender = true;
---

<Layout title="WalletFull">
	<main>
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		<h1 class="mt-24">La pagina está en <span class="text-gradient">proceso</span></h1>
		<Loading />
		<Jumbotron />
	</main>
</Layout>


<style>
	:root {
  --accent-gradient: linear-gradient(to right, #ff8a00, #e52e71);
}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%; 
		}
</style>
