---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Política y Privacidad">
<main class="text-center mx-auto max-w-3xl p-4">
    <h1 class="bg-gray-800 bg-opacity-40 p-2 rounded-lg">Política de Privacidad</h1>
    <p class="bg-gray-800 bg-opacity-40 rounded-lg mt-2">Última actualización: 19 de mayo de 2024</p>
    <p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la <strong class="text-yellow-500">recopilación</strong>, <strong class="text-yellow-500">uso</strong> y <strong class="text-yellow-500">divulgación</strong> de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo la ley lo protege.</p>
    <p>Utilizamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, acepta la <strong class="text-yellow-500">recopilación</strong> y el <strong class="text-yellow-500">uso</strong> de información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad ha sido creada con la ayuda del <a href="https://www.privacypolicies.com/privacy-policy-generator/" target="_blank" class="text-blue-500">Generador de Políticas de Privacidad</a>.</p>
    
    <h2 class="bg-gray-800 bg-opacity-40 p-2 rounded-lg mt-4">Interpretación y Definiciones</h2>
    
    <h3 class="bg-gray-800 bg-opacity-40 p-2 rounded-lg mt-2">Interpretación</h3>
    <p>Las palabras cuya letra inicial está en mayúscula tienen significados definidos bajo las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de si aparecen en singular o en plural.</p>
    
    <h3 class="bg-gray-800 bg-opacity-40 p-2 rounded-lg mt-2">Definiciones</h3>
    <p>A efectos de esta Política de Privacidad:</p>
    <ul class="text-left bg-gray-800 bg-opacity-40 p-4 mt-2 rounded-lg">
        <li>
            <p><strong class="text-yellow-500">Cuenta</strong> significa una cuenta única creada para que acceda a nuestro Servicio o partes de nuestro Servicio.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Afiliado</strong> significa una entidad que controla, es controlada por, o está bajo control común con una parte, donde "control" significa la propiedad del 50% o más de las acciones, participación accionaria u otros valores con derecho a voto para la elección de directores u otra autoridad de gestión.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Compañía</strong> (referida como "la Compañía", "Nosotros", o "Nuestro" en este Acuerdo) se refiere a WalletFull.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Cookies</strong> son pequeños archivos que se colocan en su computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contienen los detalles de su historial de navegación en ese sitio web, entre sus muchos usos.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">País</strong> se refiere a: Colombia</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono móvil o una tableta digital.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Datos Personales</strong> es cualquier información que se relaciona con un individuo identificado o identificable.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Servicio</strong> se refiere al Sitio Web.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Proveedor de Servicios</strong> significa cualquier persona física o jurídica que procesa los datos en nombre de la Compañía. Se refiere a empresas de terceros o individuos empleados por la Compañía para facilitar el Servicio, para proporcionar el Servicio en nombre de la Compañía, para realizar servicios relacionados con el Servicio o para ayudar a la Compañía a analizar cómo se utiliza el Servicio.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Datos de Uso</strong> se refieren a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o de la propia infraestructura del Servicio (por ejemplo, la duración de una visita a una página).</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Sitio Web</strong> se refiere a WalletFull, accesible desde <a href="https://walletfull.vercel.app/" rel="external nofollow noopener" target="_blank" class="text-blue-500">https://walletfull.vercel.app/</a></p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Usted</strong> significa la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</p>
        </li>
    </ul>
    
    <h2 class="bg-gray-800 bg-opacity-40 p-2 rounded-lg mt-4">Recopilación y Uso de sus Datos Personales</h2>
    
    <h3 class="bg-gray-800 bg-opacity-40 p-2 rounded-lg mt-2">Tipos de Datos Recopilados</h3>
    
    <h4 class="bg-gray-800 bg-opacity-40 p-2 rounded-lg mt-2">Datos Personales</h4>
    <p>Mientras usa nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que puede usarse para contactarlo o identificarlo. La información de identificación personal puede incluir, entre otros:</p>
    <ul class="text-left bg-gray-800 bg-opacity-40 rounded-lg p-4 mt-2">
        <li>
            <p><strong class="text-yellow-500">Dirección de correo electrónico</strong></p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Nombre y apellido</strong></p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Datos de Uso</strong></p>
        </li>
    </ul>
    
    <h4 class="bg-gray-800 bg-opacity-40 p-2 rounded-lgmt-2 mt-2 rounded-lg">Datos de Uso</h4>
    <p>Los Datos de Uso se recopilan automáticamente al utilizar el Servicio.</p>
    <p>Los Datos de Uso pueden incluir información como la dirección de <strong class="text-yellow-500">Protocolo de Internet</strong> de su dispositivo (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que visita, la hora y fecha de su visita, el tiempo que pasa en esas páginas, identificadores de dispositivo únicos y otros datos de diagnóstico.</p>
    <p>Cuando accede al Servicio a través de un dispositivo móvil o mediante este, podemos recopilar cierta información automáticamente, incluida, entre otros, el tipo de dispositivo móvil que usa, su ID único de dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que usa, identificadores de dispositivo únicos y otros datos de diagnóstico.</p>
    <p>También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio a través de un dispositivo móvil.</p>
    
    <h4 class="bg-gray-800 bg-opacity-40 p-2 rounded-lg mt-2">Tecnologías de Seguimiento y Cookies</h4>
    <p>Utilizamos Cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio. Las tecnologías que utilizamos pueden incluir:</p>
    <ul class="text-left bg-gray-800 bg-opacity-40 p-4 mt-2 rounded-lg">
        <li><strong class="text-yellow-500">Cookies o Cookies del Navegador.</strong> Una cookie es un pequeño archivo colocado en su dispositivo. Puede indicar a su navegador que rechace todas las Cookies o que indique cuándo se está enviando una Cookie. Sin embargo, si no acepta Cookies, es posible que no pueda usar algunas partes de nuestro Servicio. A menos que haya ajustado la configuración de su navegador para que rechace Cookies, nuestro Servicio puede usar Cookies.</li>
        <li><strong class="text-yellow-500">Balizas Web.</strong> Ciertas secciones de nuestro Servicio y nuestros correos electrónicos pueden contener pequeños archivos electrónicos conocidos como balizas web (también denominados gifs claros, etiquetas de píxeles y gifs de un solo píxel) que permiten a la Compañía, por ejemplo, contar los usuarios que han visitado esas páginas o han abierto un correo electrónico y para otras estadísticas relacionadas con el sitio web (por ejemplo, registrar la popularidad de una determinada sección y verificar la integridad del sistema y del servidor).</li>
    </ul>
    <p>Las Cookies pueden ser "Persistentes" o "De Sesión". Las Cookies Persistentes permanecen en su computadora personal o dispositivo móvil cuando se desconecta, mientras que las Cookies de Sesión se eliminan tan pronto como cierra su navegador web. Obtenga más información sobre las cookies en el artículo del sitio web <a href="https://www.privacypolicies.com/blog/privacy-policy-template/#Use_Of_Cookies_Log_Files_And_Tracking" target="_blank" class="text-blue-500">Privacy Policies</a>.</p>
    <p>Utilizamos tanto Cookies de Sesión como Cookies Persistentes para los siguientes propósitos:</p>
    <ul class="text-left bg-gray-800 bg-opacity-60 p-4 mt-2 rounded-lg">
        <li>
            <p><strong class="text-yellow-500">Cookies Necesarias / Esenciales</strong></p>
            <p>Tipo: Cookies de Sesión</p>
            <p>Administradas por: Nosotros</p>
            <p>Propósito: Estas Cookies son esenciales para proporcionarle servicios disponibles a través del Sitio Web y para permitirle usar algunas de sus funciones. Ayudan a autenticar a los usuarios y a prevenir el uso fraudulento de las cuentas de usuario. Sin estas Cookies, los servicios que ha solicitado no pueden ser proporcionados, y solo usamos estas Cookies para proporcionarle esos servicios.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Cookies de Política / Aviso de Aceptación de Cookies</strong></p>
            <p>Tipo: Cookies Persistentes</p>
            <p>Administradas por: Nosotros</p>
            <p>Propósito: Estas Cookies identifican si los usuarios han aceptado el uso de cookies en el Sitio Web.</p>
        </li>
        <li>
            <p><strong class="text-yellow-500">Cookies de Funcionalidad</strong></p>
            <p>Tipo: Cookies Persistentes</p>
            <p>Administradas por: Nosotros</p>
            <p>Propósito: Estas Cookies nos permiten recordar las elecciones que realiza cuando utiliza el Sitio Web, como recordar sus datos de inicio de sesión o preferencia de idioma. El propósito de estas Cookies es proporcionarle una experiencia más personal y evitar que tenga que volver a ingresar sus preferencias cada vez que utilice el Sitio Web.</p>
        </li>
    </ul>
    <p>Para obtener más información sobre las cookies que utilizamos y sus opciones con respecto a las cookies, visite nuestra Política de Cookies o la sección de Cookies de nuestra Política de Privacidad.</p>
</main>
</Layout>
